<div class="card">
  <div class="card-header d-flex justify-content-between text-bg-secondary">
    <h4>{{title}}</h4>
    <h5>Posted by {{user.username}} on {{format_date post_date}}</h5>
  </div>
  
  <div class="card-body">
    <p class="card-text">{{snippet}}</p>
  </div>
</div>