<div class="card text-center">
  <div class="card-header text-bg-secondary">
    Welcome to the Tech Blog!
  </div>
  <div class="card-body">
    <h5 class="card-title">Enter your Information below to get Logged In!</h5>
    <form class="form login-form">
  <div class="mb-3">
    <label for="username-login" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-secondary">Sign In</button>
</form>
<p>Don't have an account? <a href="/signup">Sign Up Here</a></p>
</div>

<script src="../public/js/login.js"></script>