<div class="card text-center">
  <div class="card-header text-bg-secondary">
    Welcome to the Tech Blog!
  </div>
  <div class="card-body">
    <h5 class="card-title">Enter your Information below to get Logged In!</h5>
    <form>
  <div class="mb-3">
    <label for="exampleInputUsername" class="form-label">Username</label>
    <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-secondary">Sign In</button>
</form>
{{!-- make sure to change the anchor href later!!!!!!!!!!!!!!! --}}
<p>Don't have an account? <a href="/">Sign Up Here</a></p>
</div>
