<div class="card text-center">
  <div class="card-header text-bg-secondary">
    <h3>Welcome to the Tech Blog!</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Enter your Information below to create an Account!</h5>
    <form class="form signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-secondary">Sign Up</button>
</form>
</div>

<script src="js/signup.js"></script>